<form action="/clients/$client.getId()/update" method="post">
        <label for="clientName">client Name</label>
        <input type="text" id="clientName" name="clientName" class="form-control">
        <label for="clientNumber">client Number</label>
        <input type="text" id="clientNumber" name="clientNumber" class="form-control">
        <button class="btn btn-danger" id="update">Delete</button>
 </form>